<script type='template' id='tpl-display-parceiros' class='tpl'>
    <div class="row">
        <div class="col-md-6">
            <input type='text' class='crud-busca form-control' placeHolder='buscar...'>
            <div class='row fix-header'>
                <div class='col-md-4'>Nome</div>
                <div class='col-md-4'>Tipo</div>
                <div class='col-md-4'>Email</div>
            </div>
            <div class='list-container'>
                <table class="table table-striped table-hover crud-list">
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-horizontal form-crud">
                <div class="form-group">
                    <label for="nome" class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10"><input type="text" name="nome" class="form-control not-empty unique"></div>
                </div>
                <div class="form-group">
                    <label for="CNPJ/CPF" class="col-sm-2 control-label">CNPJ</label>
                    <div class="col-sm-10"><input type="text" name="cnpjCpf" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">Cliente</label>
                    <div class="col-sm-10"><input type="checkbox" name="cliente"></div>
                </div>
                <div class="form-group">
                    <label for="fornecedor" class="col-sm-2 control-label">Fornecedor</label>
                    <div class="col-sm-10"><input type="checkbox" name="fornecedor"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10"><input type="text" name="email" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="telefone" class="col-sm-2 control-label">Telefone</label>
                    <div class="col-sm-10"><input type="text" name="telefone" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="endereco" class="col-sm-2 control-label">Endereço</label>
                    <div class="col-sm-10"><input type="text" name="endereco" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label for="cep" class="col-sm-2 control-label">CEP</label>
                    <div class="col-sm-10"><input type="text" name="cep" class="form-control"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success save left margin-right">Salvar</button>
                        <button class="btn btn-default remove hidden left">Excluir</button>
                        <button class="btn btn-info new hidden right">Novo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='template' id='tpl-display-parceirosListItem'>
    <tbody>
        {% _.each(items, function (c) { %}
            <tr data-rowid='{%= c.id %}' class='clickable'>
                <td class='col-md-4'>{%= c.nome %}</td>
                <td class='col-md-4'>{%= c.cliente ? 'Cliente' : '' %} {%= c.fornecedor ? 'Fornecedor' : '' %}</td>
                <td class='col-md-4'>{%= c.email %}</td>
            </tr>
        {% }) %}
    </tbody>
</script>
