<script type='template' id='tpl-display-produtos' class='tpl'>
    <div class="row">
        <div class="col-md-6 crud-search">
            <input type='text' class='form-control query' placeHolder='buscar...'>
            <div class='row fix-header'>
                <div class='col-md-3 codigo'>código</div>
                <div class='col-md-3 nome'>Nome</div>
                <div class='col-md-3 preco'>Preço</div>
                <div class='col-md-3 categoria'>Categoria</div>
            </div>
            <div class='list-container'>
                <table class="table table-striped table-hover crud-list">
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-horizontal form-crud">
                <div class="form-group">
                    <label for="codigo" class="col-sm-2 control-label">Código</label>
                    <div class="col-sm-10"><input type="text" name="codigo" class="form-control not-empty unique"></div>
                </div>
                <div class="form-group">
                    <label for="noome" class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10"><input type="text" name="nome" class="form-control not-empty"></div>
                </div>
                <div class="form-group">
                    <label for="preco" class="col-sm-2 control-label">Preço</label>
                    <div class="col-sm-10"><input type="text" name="preco" class="form-control not-empty mask-money-positive"></div>
                </div>

                <div class="form-group">
                    <label for="categoria" class="col-sm-2 control-label">Categoria</label>
                    <div class="col-sm-10">
                        <select name="produtoCategoriaId" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success save left margin-right">Salvar</button>
                        <button class="btn btn-default remove hidden left">Excluir</button>
                        <button class="btn btn-info new hidden right">Novo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='template' id='tpl-display-produtosListItem'>
    <tbody>
        {% _.each(items, function (c) { %}
            <tr data-rowid='{%= c.id %}' class='clickable'>
                <td class='col-md-3 codigo'>{%= c.codigo %}</td>
                <td class='col-md-3 nome'>{%= c.nome %}</td>
                <td class='col-md-3 categoria'>{%= Metasoft.produtoCategoriaById[c.produtoCategoriaId].nome %}</td>
                <td class='col-md-3 nome'>{%= c.preco %}</td>
            </tr>
        {% }) %}
    </tbody>
</script>
