<script type='template' id='tpl-display-contas' class='tpl'>
    <div class="row">
        <div class="col-md-2 buttons-container">
            <button
                class="btn btn-default btn-block"
                data-toggle="modal"
                data-target=".modal-conta-crud"
                data-contaid=''
                data-contatipo='receber'
            >
                <span class="glyphicon glyphicon-plus-sign"></span>
                A Receber
            </button>

            <button
                class="btn btn-default btn-block"
                data-toggle="modal"
                data-target=".modal-conta-crud"
                data-contaid=''
                data-contatipo='pagar'
            >
                <span class="glyphicon glyphicon-plus-sign"></span>
                A Pagar
            </button>
        </div>
        <div class="col-md-10">
            <div class='row' id="contasSearchForm">
                <div class='col-md-3'>
                    <input type='text' class='form-control query' name='query' placeHolder="buscar..." />
                </div>
                <div class='col-md-3'>
                    <select class='status form-control' name="status">
                        <option value="vencido" selected>Vencidos</option>
                        <option value="apagar">A Pagar</option>
                        <option value="areceber">A Receber</option>
                        <option value="pago">Pagos</option>
                        <option value="recebido">Recebidos</option>
                        <option value="todos">Todos</option>
                    </select>
                </div>

                <div class='col-md-3'>
                    <select class='periodo form-control' name="periodo">
                        <option value="qualquer" selected>Qualquer período</option>
                        <option value="mes">Meses</option>
                        <option value="dia">Dias</option>
                    </select>
                </div>
                <div class='col-md-3'>
                    <div class="input-group date-navigator">
                        <span class="input-group-addon decrement"><</span>
                        <input type="text" name="data" class="form-control mask-date-day data text-center">
                        <span class="input-group-addon increment">></span>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-header" style='margin-right: 15px;'>
                <thead>
                    <tr>
                        <td class='col-md-2'>Vencimento</td>
                        <td class='col-md-2'>Admissão</td>
                        <td class='col-md-2'>Centro de Custo</td>
                        <td class='col-md-3'>Cliente/Fornecedor</td>
                        <td class='col-md-2'>Valor</td>
                        <td class='col-md-1'>Pago?</td>
                    </tr>
                </thead>
            </table>
            <div class="list-container">
                <table class="table table-striped table-hover">
                    <tbody class='list-lancamentos'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade modal-conta-crud" id="modalContas" tabindex="-1" role="dialog" aria-labelledby="modalReceber" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {%= subTpls.form() %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success save">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-parcela" id="modalParcela" tabindex="-1" role="dialog" aria-labelledby="modalPay" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Parcela</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-crud">
                        <input type="hidden" name="id">
                        <div class="row form-parcela">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="metodoPagamentoId" class="col-md-4 control-label">Forma de Pagamento</label>
                                    <div class="col-md-8">
                                        <select name="metodoPagamentoId" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="contaBancariaId" class="col-md-4 control-label">Conta Financeira</label>
                                    <div class="col-md-8">
                                        <select name="contaBancariaId" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="parceiroId" class="col-md-4 control-label">Cliente/Fornecedor</label>
                                    <div class="col-md-8 dropdownSearchParceiro"></div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="dataVencimento" class="col-md-4 control-label">Vencimento</label>
                                    <div class="col-md-8"><input type="text" name="dataVencimento" class="form-control not-empty mask-date-day"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dataPagamento" class="col-md-4 control-label">Pagamento</label>
                                    <div class="col-md-8"><input type="text" name="dataPagamento" class="form-control not-empty mask-date-day only-date-past"></div>
                                </div>
                                <div class="form-group">
                                    <label for="valor" class="col-md-4 control-label">Valor</label>
                                    <div class="col-md-8"><input type="text" name="valor" class="form-control valorLiquido not-zero mask-money-positive"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-conta-bottom">
                            <div class="col-md-12">
                                <label for="descricao" class="col-md-12 descricao">Observações</label>
                                <div class="form-group">
                                    <div class="col-md-12"><textarea class="form-control" name="descricao" rows="1"></textarea></textarea></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success save">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='template' id='subtpl-display-contas-form'>
    <div class="form-horizontal form-crud">
        <input type="hidden" name="id">
        <div class="row form-conta-top">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="centroCustoId" class="col-md-4 control-label">Centro de Custo</label>
                    <div class="col-md-8">
                        <select name="centroCustoId" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="metodoPagamentoId" class="col-md-4 control-label">Forma de Pagamento</label>
                    <div class="col-md-8">
                        <select name="metodoPagamentoId" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contaBancariaId" class="col-md-4 control-label">Conta Financeira</label>
                    <div class="col-md-8">
                        <select name="contaBancariaId" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="parceiroId" class="col-md-4 control-label">Cliente/Fornecedor</label>
                    <div class="col-md-8 dropdownSearchParceiro"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="valorBruto" class="col-md-4 control-label">Valor Bruto</label>
                    <div class="col-md-8"><input type="text" name="valorBruto" class="form-control valorBruto not-zero mask-money-positive"></div>
                </div>

                <div class="form-group">
                    <label for="desconto" class="col-md-4 control-label">Desconto</label>
                    <div class="col-md-8"><input type="text" name="desconto" class="form-control desconto mask-money-negative"></div>
                </div>

                <div class="form-group">
                    <label for="valorLiquido" class="col-md-4 control-label">Valor Líquido</label>
                    <div class="col-md-8"><input type="text" name="valorLiquido" class="form-control valorLiquido not-zero mask-money-positive"></div>
                </div>

                <div class="form-group">
                    <label for="quantParcelas" class="col-md-4 control-label">Parcelas</label>
                    <div class="col-md-8"><input type="text" name="quantParcelas" value="1" class="form-control quantParcelas not-empty not-zero mask-only-number"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover table-header">
                    <thead>
                        <tr>
                            <td class='col-md-2'>Identificador</td>
                            <td class='col-md-2'>Vencimento</td>
                            <td class='col-md-2'>Alíquota</td>
                            <td class='col-md-2'>Dedução</td>
                            <td class='col-md-2'>Valor</td>
                        </tr>
                    </thead>
                </table>
                <div class="list-container parcelas-container">
                    <table class="table table-striped table-hover">
                        <tbody class="parcelas">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row form-conta-bottom">
            <div class="col-md-12">
                <label for="descricao" class="col-md-12 descricao">Observações</label>
                <div class="form-group">
                    <div class="col-md-12"><textarea class="form-control" name="descricao" rows="1"></textarea></textarea></div>
                </div>
            </div>

        </div>
    </div>
</script>


<script type='template' id="subtpl-display-contas-parcelaItem">
    {% _.each(parcelas, function (p) { %}
        <tr data-rowid='{%= p.id %}' class='parcela-item {%= p.tipoConta == 1 ? "invert-money-color" : "" %}' >
            {% var dv = moment(p.dataVencimento).utc(); %}
            {% var dataCls = dv.diff(moment(), 'days') <= 0 && !p.pago ? 'red' : ''; %}
            <td class='col-md-2 {%= dataCls %}'>{%= dv.format('DD/MM/YYYY') %}</td>
            <td class='col-md-2'>{%= moment(p.criadoEm).utc().format('DD/MM/YYYY') %}</td>
            <td class='col-md-2'>{%= Metasoft.centroCustoById[p.centroCustoId].nome %}</td>
            <td class='col-md-3'>{%= p.parceiroNome %}</td>
            <td class='col-md-2 green-money'>{%= Metasoft.money.format(p.valor) %}</td>
            <td class='col-md-1'><input type='checkbox' name="pago" {%= p.pago ? 'checked' :'' %}></td>
        </tr>
    {% }) %}
</script>

<script type='template' id="subtpl-display-contas-parcelaItemModal">
    {% _.each(parcelas, function (p) { %}
        <tr data-rowid='{%= p.id %}' class='parcela-item' >
            <td class='col-md-2'>{%= p.descricao %}<input type='hidden' name="id" value="{%= p.id %}"><input type='hidden' name="descricao" value="{%= p.descricao %}"><input type='hidden' name="numero" value="{%= p.numero %}"></td>
            <td class='col-md-2'><input type='text' class='mask-date-day' name="dataVencimento" value="{%= p.dataVencimento %}"></td>
            <td class='col-md-2'>
                {% if (p.aliquota) { %}
                    <input type='text' name="aliquota" value="{%= p.aliquota %}">
                {% } %}
            </td>
            <td class='col-md-2'>
                {% if (p.deducao) { %}
                    <input type='text' name="deducao" class="mask-money" value="{%= Metasoft.money.format(p.deducao) %}">
                {% } %}
            </td>
            <td class='col-md-2'><input type='text' name="valor" class="mask-money" value="{%= Metasoft.money.format(p.valor) %}"></td>
        </tr>
    {% }) %}
</script>
