<script type='template' id='tpl-display-contaBancaria' class='tpl'>
    <h2 class='display-title'>Contas Bancárias</h2>

    <div class="row">
        <div class="col-md-6">
            <input type='text' class='conta-banco-busca form-control' placeHolder='buscar...'>
            <div class='list-container'>
                <table class="table table-striped table-hover conta-banco-list">
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-horizontal form-conta-banco">
                <div class="form-group">
                    <label for="banco" class="col-sm-2 control-label">Banco</label>
                    <div class="col-sm-10"><input type="text" name="banco" class="form-control not-empty"></div>
                </div>
                <div class="form-group">
                    <label for="agencia" class="col-sm-2 control-label">Agência</label>
                    <div class="col-sm-10"><input type="text" name="agencia" class="form-control not-empty mask-number-bank"></div>
                </div>
                <div class="form-group">
                    <label for="conta" class="col-sm-2 control-label">Conta</label>
                    <div class="col-sm-10"><input type="text" name="conta" class="form-control not-empty mask-number-bank"></div>
                </div>

                <div class="form-group">
                    <label for="saldo" class="col-sm-2 control-label">Saldo</label>
                    <div class="col-sm-10"><input type="text" name="saldo" class="form-control mask-money"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success save left margin-right">Salvar</button>
                        <button class="btn btn-default remove hidden left">Excluir</button>
                        <button class="btn btn-info new hidden right">Novo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='template' id='tpl-display-contaBancaria-itemConta'>
    <tbody>
        {% _.each(contas, function (c) { %}
            <tr data-rowid='{%= c.id %}' class='clickable'>
                <td>{%= c.agencia %} / {%= c.conta %}</td>
                <td class='money'>{%= Metasoft.money.html(c.saldo) %}</td>
                <td>{%= c.banco %}</td>
            </tr>
        {% }) %}
    </tbody>
</script>
