.left { float: left; }
.right { float: right; }

.margin-right { margin-right: 5px; }

.hidden { display: none; }

.error-message { color: #E80808; }

.money,
.mask-money,
.mask-money-positive,
.mask-only-number {
    text-align: right;
}

.subcategory { margin: 5px; }

.display-title { margin-top: 0px; }

.fix-header { padding: 5px 15px; }
.fix-header div { padding: 0px; }

.list-container {
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #E8E8E8;
}

.list-container tr.clickable {
    cursor: pointer;
}

.list-container tr:last-child {
    border-bottom: 1px solid #ddd;
}

.conta-banco-busca {
    margin-bottom: 5px;
}

.fix-header,
#display-contas table.table-header {
    font-weight: bold;
}

#display-contas .buttons-container button.btn {
    text-align: left;
}

#display-contas table.table-header {
    margin-bottom: 0px;
}

#display-contas .list-container.parcelas-container { height: 150px; }

#display-contas label.descricao {
    margin-top: 6px;
    margin-bottom: 10px;
}
