.left { float: left; }
.right { float: right; }

.margin-right { margin-right: 5px; }

.hidden { display: none; }

.error-message { color: #E80808; }

.mask-money { text-align: right; }

.subcategory { margin: 5px; }

.display-title { margin-top: 0px; }

.list-container {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #E8E8E8;
}

.list-container tr.clickable {
    cursor: pointer;
}

.list-container tr:last-child {
    border-bottom: 1px solid #ddd;
}

.conta-banco-busca {
    margin-bottom: 5px;
}
