<!DOCTYPE html>
<html lang="pt-br">
    <meta>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../base/stylesheet %>
        <% include ../base/javascript %>

        <link rel='stylesheet' href='/css/metasoft.css'>
    </meta>

    <body>
        <% include layout %>
        <% include configs/logins %>
        <% include configs/centroCusto %>
        <% include configs/metodoPagamento %>
        <% include configs/imposto %>
        <% include parceiros/parceiros %>
        <% include financeiro/contaBancaria %>
        <% include financeiro/contas %>

        <script src='/js/dictionary.js'></script>

        <script src='/js/components/filter.js'></script>
        <script src='/js/components/money.js'></script>
        <script src='/js/components/field-validator.js'></script>
        <script src='/js/components/display.js'></script>
        <script src='/js/components/crud-display.js'></script>

        <script src='/js/metasoft/displays/logins.js'></script>
        <script src='/js/metasoft/displays/centro-custo.js'></script>
        <script src='/js/metasoft/displays/metodo-pagamento.js'></script>
        <script src='/js/metasoft/displays/imposto.js'></script>
        <script src='/js/metasoft/displays/parceiros.js'></script>
        <script src='/js/metasoft/displays/conta-bancaria.js'></script>
        <script src='/js/metasoft/displays/contas.js'></script>

        <script src='/js/metasoft/index.js'></script>
    </body>
</html>
