<!DOCTYPE html>
<html lang="pt-br">
    <meta>
        <title>Metasoft</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../base/stylesheet %>
        <% include ../base/javascript %>

        <script type="text/javascript">
            var Metasoft = <%- jsData %>;
        </script>

        <script src='/js/metasoft.js'></script>

        <link rel='stylesheet' href='/css/metasoft.css'>
    </meta>

    <body>
        <div class="loader">
            <img src='/images/loading.gif'> <div>Carregando</div>
        </div>
        <% include layout %>
        <% include financeiro/contas %>
        <% include financeiro/transferencias %>
        <% include administrativo/produtos %>
        <% include administrativo/produtoCategoria %>
        <% include parceiros/parceiros %>
        <% include configs/logins %>
        <% include configs/centroCusto %>
        <% include configs/metodoPagamento %>
        <% include configs/imposto %>
        <% include configs/contaBancaria %>

        <script src='/js/validator.js'></script>
        <script src='/js/dictionary.js'></script>

        <script src='/js/components/filter.js'></script>
        <script src='/js/components/money.js'></script>
        <script src='/js/components/field-validator.js'></script>
        <script src='/js/components/field-search.js'></script>
        <script src='/js/components/dropdown-search.js'></script>
        <script src='/js/components/display.js'></script>
        <script src='/js/components/crud-display.js'></script>

        <script src='/js/metasoft/displays/configs.js'></script>
        <script src='/js/metasoft/displays/parceiros.js'></script>
        <script src='/js/metasoft/displays/contas.js'></script>
        <script src='/js/metasoft/displays/contas-modal.js'></script>
        <script src='/js/metasoft/displays/produtos.js'></script>
        <script src='/js/metasoft/displays/transferencias.js'></script>

        <script src='/js/metasoft/index.js'></script>
    </body>
</html>
