<!DOCTYPE html>
<html lang="pt-br">
    <meta>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../base/stylesheet %>
        <% include ../base/javascript %>

        <link rel='stylesheet' href='/css/metasoft.css'>
    </meta>

    <body>
        <% include financeiro/layout %>
        <% include financeiro/contaBancaria %>
        <% include financeiro/contas %>

        <script src='/js/components/field-validator.js'></script>
        <script src='/js/components/display.js'></script>
        <script src='/js/metasoft/displays/conta-bancaria.js'></script>
        <script src='/js/metasoft/displays/contas.js'></script>

        <script src='/js/metasoft/index.js'></script>
    </body>
</html>
