<!DOCTYPE html>
<html>
    <meta>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../base/stylesheet %>
        <% include ../base/javascript %>
    </meta>

    <body>
        <% include financeiro/contaBancaria %>
        <script src='/js/metasoft/index.js'></script>
    </body>
</html>
